################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Localizer/v15
/src/Localizer/obj
/src/Localizer/bin/Debug/netcoreapp2.0
/src/Localizer.Tests/bin/Debug/netcoreapp2.0
/src/Localizer.Tests/obj
/src/Localizer/todo.txt
/src/Localizer.Site/bin/Debug/netcoreapp2.0
/src/.vs/config
/src/Localizer.Site/obj
/src/AspNetCoreLocalizer.Site/obj
/src/AspNetCoreLocalizer.Site/bin/Debug/netcoreapp2.0
